*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: black;
}
header{
    width: 100%;
    height: 150px;
    /* border: 1px solid white; */
    padding: 25px;
    position: fixed;
}
header > nav{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 12px;
    position: relative;

}
nav aside:first-child{
    width: 20%;
    height: 100%;
    /* border: 2px solid red; */
    text-align: center;
    line-height: 100px;
    position: absolute;
    
}

nav > aside > span{
    font-size: 35px;
    font-weight: 600;
    
    
}
nav > aside > span:last-child{
    color: orangered;
}
nav > aside:last-child{
    width: 50%;
    height: 100%;
    /* border: 2px solid blue; */
    position: absolute;
    right: 0;
}
nav > aside > ul{
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: center;
    line-height: 90px;
}
nav > aside > ul > li {
    display: inline-block;
    
}
nav > aside > ul > li > a {
    text-decoration: none;
    padding: 15px 30px;
    color:orangered;
    font-size: 18px;
    border-radius: 15px;
    
}
a:hover{
    background-color: orangered;
    color: white;
}
main{
    padding: 30px;
    padding-top: 150px;
}
p{
    text-align: justify;
    color: white;
    font-size: 20px;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    position: fixed;
}