*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: beige;

}

/* Media query for mobile view */

/* @media screen and (condition){

} */

@media screen and (min-width:0px) and (max-width:320px){
    .container{
        background-color: crimson;
        color:white;
    }

}



/* Media query for tablet view */

@media screen and (min-width:320px) and (max-width:768px){
    .container{
        background-color: navy;
        color:white;
    }

}




/* Media query for laptop view */

@media screen and (min-width:768px) and (max-width:1024px){
    .container{
        background-color: green;
        color:white;
    }

}
