*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}
.container{
    width: 1000px;
    height: 600px;
    border-bottom: 3px solid green;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}
.ball{
    width: 80px;
    height: 80px;
    /* border: 1px solid; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(blue,plum);
    box-shadow: 0px 7px 30px 0px rgba(0,0,0,0.3);
    animation: bounceBall 1s linear infinite;
    animation-direction: alternate;
}
#ball1{
    animation-delay: 0s;
}
#ball2{
    animation-delay: 0.2s;
}
#ball3{
    animation-delay: 0.4s;
}
#ball4{
    animation-delay: 0.6s;
}
#ball5{
    animation-delay: 0.8s;
}
@keyframes bounceBall {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-500px);
    }
    
}